
/* Color palette

light blue: #4667B1
dark blue: #142947
med blue: #0D4391

dark grey: #394C66

light Grey: #C9CCD9

;

*/

body{
  font-size:10px;
  margin:0;
  font-family: 'Raleway, Helvetica', sans-serif;
  text-align:center;
}

p,a,span{
  font-size:1.2rem;
}

a{
  text-decoration:none;
}


h1, h2, h3{
  font-weight:200;
}

h1{
  margin-top:4rem;
  text-align:center;
  color: #394C66;
  font-size:3rem;
}

h2{
  text-align:center;
  color:  rgb(17, 19, 120);
  font-size:2.6rem;
}

h3{
  text-align:center;
  color:rgb(41, 44, 47);
  font-size:1.8rem;
  margin-top:2rem;
  padding:0 5%;
}


header{
  background-color:#4667B1;
  display:inline-block;
  width:100%;
  position:relative;
}

header.fixed{
  display:block;
  position:fixed;
  top:0;
  height:75px;
}

header.fixed .wordmark{
  display:none;
}

header.fixed .logo{
  width:3rem;
  padding-top:1rem;
}

.logo{
  padding-top:2rem;
  display:block;
  width:5rem;
  margin:auto;
  margin-bottom:1rem;
}

.wordmark{
  display:block;
  width:20rem;
  margin:auto;
  padding-bottom:2rem;
}

header nav{
  position: absolute;
  top: 14px;
  display: inline-block;
  right: 7px;
  z-index: 302;
}

.nav-button{
  display: inline-block;
  float: right;
  text-align: right;
}

.nav-button svg{
  cursor: pointer;
  display: inline-block;
  float: right;
}

.nav-button rect{
  fill:white;
}

header nav ul{
  width: 100%;
  margin-top: 1.2rem;
  max-height: 0;
  overflow: hidden;
  padding:0;
  text-align:right;
}

header.fixed nav ul{
  background-color: #4667B1;
}

header nav ul.shown{
  max-height: 400px;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

header nav ul li{
  display:block;
  padding-right:1rem;
  margin:.5rem 0;
}

header nav a{
  color: #ffffff;
}

header nav a:hover{
  color:#0D4391;
}

#about, #team, #solution, #problem{
  display:inline-block;
  width:100%;
  text-align:left;
  padding:3rem 0;
}

#about{
}

#about div{
  float:left;
  text-align:center;
}

#about div img{
  display:block;
  margin:auto;
  width:5rem;
  padding-bottom:1.5rem;
}

#about .blurb{
  width:90%;
  color: #142947;
  line-height:2;
}

#about .point{
  font-size: 1.4rem;
  color: #4667B1;
  margin-bottom:1.5rem;
}

#testimonial{
  padding:2rem 0;
}

#testimonial p{
  color: #fff;
  font-size:1.6rem;
  font-weight:200;
  width:80%;
  margin:auto;
}

#testimonial .attribution{
  color: #C9CCD9

;
}

#problem img{
  display:block;
  width:80%;
  margin:auto;
}

#problem{
  display:inline-block;
  background-color: #C9CCD9

;
  color:white;
}

#problem h2{
  color:#394C66;
}

#problem p{
  line-height:1.5;
  text-align:left;
}

#problem p em{
  color:red;
  font-style:normal;
}

#solution{
  display:inline-block;
}

#solution p, #solution img{
  float:left;
  width:50%;
}

#team .team-member{
  text-align:center;
  float:left;
}

.img-container{
  position:relative;
  width:60%;
  display:inline-block;
}

.img-container .overlay{
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(17, 19, 120, .7);
  color:white;
  transition:opacity .6s ease-in-out;
  -webkit-transition:opacity .5s ease-in-out;
  -moz-transition:opacity .5s ease-in-out;
  -o-transition:opacity .5s ease-in-out;
}

.img-container:hover .overlay{
  opacity:1;
}

.team-member img{
  display:block;
  margin:auto;
  width:100%;
}



footer{
  background-color: #394C66;
  text-align:center;
}

footer a{
  display:inline-block;
  margin:2rem;
}


@media (min-width:768px){

  .nav-button{
    display:none;
  }

  header nav{
    top:1.4rem;
    right:2rem;
  }

  header nav ul{
    display:inline-block;
    max-height:100%;
    margin-top:0;
  }

  header nav ul li{
    display:inline-block;
    margin-left:1rem;
    padding-right:0;
  }

  #testimonial{
    width:50%;
    float:left;
  }

  #problem .graphics{
    width:50%;
    float:left;
  }


  #about div{
    width:calc(100%/3);
  }

  #about div p{
    width:80%;
    margin:auto;
  }

  #team .team-member{
    width:25%;
  }

}
